.board {
  width: 100%;
  height: 50vh;
  border: 1px solid black;
}

.square {
  border: 1px solid grey;
  height: 15px;
  width: 15px;
  margin: -1px;
  float:left;
  background: $dead-color;
}

.square-alive {
  @extend .square;
  background:$living-color;
}

.square-alive2 {
  @extend .square;
  background:$long-living-color;
}

.board-row {

}
