.info-box {
  position: fixed;
  left: 85%;
  top: 9%;
  bottom: 40%;
  width: 25%;
  transition: color 0.75s ease, left 0.75s ease, background 0.75s ease-in-out;
  border: $border;
  border-radius: 5px;
  background: $background-grey;
  color: $background-grey;

  h2 {
    text-align: center;
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
  &:hover {
    left: 75%;
    color: $long-living-color;
    background: transparentize($background-grey, 0.5);
  }
}
