.info-box {
  position: fixed;
  left: 85%;
  top: 9%;
  bottom: 40%;
  width: 25%;
  transition: color 0.5s ease, left 0.5s ease;
  border: $border;
  border-radius: 5px;
  background: $background-grey;
  color: $background-grey;

  h2 {
    text-align: center;
}
  &:hover {
    left: 75%;
    color: $living-color;
  }
}
